django
lxml
djangorestframework
django-cors-headers
django-import-export
django-smtp-ssl
djoser
drf-yasg
gunicorn
psycopg2-binary
django-dotenv
pyyaml
label-studio>=1.4
label-studio-converter>=0.0.39
label-studio-tools
pandas
mosestokenizer
indic-nlp-library
whitenoise
