label-studio
django>=4.0
lxml
djangorestframework
django-cors-headers
django-import-export
django-smtp-ssl
djoser
drf-yasg
psycopg2
python-dotenv
pillow
pyyaml
label-studio
label-studio-converter
label-studio-tools
pandas
