name: run-tests
on: [pull_request]

jobs:

  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.8"
      - name: Install dependencies
        run: pip install -r ./backend/deploy/requirements-dev.txt
      - name: Create environment file
        run: cp .env.example ./backend/.env
      - name: Run tests
        run: python ./backend/manage.py test
